<main class="container">
  <h1> SAVE THE BEES </h1>
  <p> We'll be saving the bees here. </p>
  <p> Bees need flowers for sustenance, and flowers need bees for pollination. </p><p>But it's important the flowers you grow provide the food bees need. </p>
  <p> Go to Bees to create a new one.</p>
  <p> Go to Plants to plant a new plant.</p>
  <p> Go to Pollinate to see the action.<p>
</main>
