<main class="container-info">
<h1> Learn more about it </hi>
<div class="more-info">
  <p class="start">
  <p> <text align>
  <p>"It ain’t easy being a bee these days.<p>With the introduction of genetically modified crops, stronger, more powerful, and prevalent pesticides, and a rapidly changing climate, bee colonies are quickly disappearing. According to the urban beekeeping organization, Honeylove, after WWII, there were 5 million honeybee colonies; today there are approximately half that many.</p>
  <p>
  Bees are one of our most valuable pollinators, responsible for pollinating 80 percent of the world’s plants! That means 1 out of every 4 bites of food we eat is due to the hard work of bees.  Without them, our food supply would be dramatically decreased, and life as we know it, severely altered.</p>
  <p>
  Additionally, the demand for honey has resulted in many commercial honey brands to streamline production by feeding bees a diet of corn syrup, rather than wildflowers. Bees love sweet, and a beekeeper once told me the story of bees who foraged left over colored shell sugar from a nearby chocolate manufacturer, resulting in a blue honeycomb! While that may look cool and colorful, it results in sick bees and honey that is little better than the sugar used to create it. So if you choose to consume honey, be sure to always buy organic, wild, and local honey from trusted beekeepers whenever possible!</p>
  <p>
  Aside from buying organic food from reputable sources, what else can we do to help the bees? Plant a bee-friendly garden! Here are some pollen-plenty plants to make a bee’s job a little easier and maybe even save them too!"</p>
  <p> find out more at: </p>
  <p><b> <a href= https://www.onegreenplanet.org/lifestyle/what-to-plant-in-your-garden-to-help-save-the-bees/> ONE GREEN PLANET </a> </b></p>
  <p> ..where this quote originated from.


</div>
</main>
