<main class="container">
  <h2>Pollination time</h2>

<form action="/foods" method="post">
  <label>
  <p>Select a bee:</p>
    <select name="bee_id">
      <% for bee in @bees %>
      <option value="<%= bee.id %>"><%= bee.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    <p>Select a plant:</p>
    <select name="plant_id">
      <% for plant in @plants %>
      <option value="<%= plant.id %>"><%= plant.name %></option>
      <% end %>
    </select>
  </label>
  <p>
  <input class="btn btn--danger orange-link" type='submit' value="Pollinate!">
</p>
</form>
</main>
